<%- include("partials/header.ejs") %>

<form action="/blogs/<%= blog.id %>?_method=PUT" method="POST">
  <div class="editing">

    <div class="editing-title">
      <label for="blogName">Title:</label>
      <textarea class="textarea textarea-name" name="blogName" id="blogName" required>
        <%= blog.title %></textarea>
    </div>

    <div class="editing-content">
      <label for="blogContent">Content:</label>
      <textarea class="textarea textarea-content" name="blogContent" id="blogContent" required>
        <%= blog.content %></textarea>
    </div>

    <div class="editing-button">
      <input type="submit" value="Save changes" />
    </div>
  </div>
</form>

<%- include("partials/footer.ejs") %>
