<%- include("partials/header.ejs") %>
<div class="blogs-body">
  <div class="blogs-title">
    <h1>Your saved blog's:</h1>
  </div>
  <div class="blogs-content">
    <ul>
      <% if (blogs.length > 0) { %> <% blogs.forEach((blog) => { %>
      <li>
        <h2><a class="blog-content-title" href="/blogs/<%= blog.id %>"><%= blog.title %></a></h2>
        <p><small><%= blog.date %></small></p>
      </li>
      <% }) %> <% } else { %>
      <h1>No blog's found. Start creating one!</h1>
      <% } %>
    </ul>
  </div>
</div>

<%- include("partials/footer.ejs") %>
